# Fields

# Methods
public net.minecraft.world.level.block.BaseEntityBlock m_152132_(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityTicker;)Lnet/minecraft/world/level/block/entity/BlockEntityTicker; # createTickerHelper
public net.minecraft.client.model.geom.ModelLayers m_171293_(Ljava/lang/String;)Lnet/minecraft/client/model/geom/ModelLayerLocation; # register