# folder
bin
.settings
.gradle
.gradle_data
build
eclipse
run
src/main/java/api
src/main/java/appeng
src/main/java/buildcraft
src/main/java/biomesoplenty
src/main/java/codechicken
src/main/java/cofh
src/main/java/com
src/main/java/ic2
src/main/java/itemtransformhelper
src/main/java/mekanism
src/main/java/micdoodle8
src/main/java/mezz
src/main/java/powercrystals
src/main/java/net
src/main/java/stevekung/mods/indicatia
src/main/java/tconstruct
src/main/java/uristqwerty
src/main/resources/assets/galacticraftcore
src/main/resources/assets/galacticraftmoon
src/main/resources/assets/galacticraftmars
src/main/resources/assets/galacticraftasteroids
src/main/resources/assets/itemtransformhelper
src/main/resources/assets/nbtedit
src/main/resources/assets/indicatia
src/main/resources/micdoodlecore_at.cfg
src/main/resources/micdoodlecore_at.deobf
src/main/resources/assets/galacticraftplanets
src/main/resources/*.info

# file
*.launch
.metadata
.classpath
.project
gradle-wrapper.jar
gradle-wrapper.properties
gradlew.bat
gradlew
*_at.cfg
!moreplanets_at.cfg