# Fields
protected net.minecraft.entity.monster.EntityCreeper field_70834_e #lastActiveTime
protected net.minecraft.entity.monster.EntityCreeper field_70833_d #timeSinceIgnited
protected net.minecraft.entity.monster.EntityCreeper field_82225_f #fuseTime
protected net.minecraft.entity.monster.EntityCreeper field_82226_g #explosionRadius
public net.minecraft.entity.projectile.EntityArrow field_145791_d #xTile
public net.minecraft.entity.projectile.EntityArrow field_145792_e #yTile
public net.minecraft.entity.projectile.EntityArrow field_145789_f #zTile
public net.minecraft.entity.projectile.EntityArrow field_145790_g #inTile
public net.minecraft.entity.projectile.EntityArrow field_70253_h #inData
public net.minecraft.entity.projectile.EntityArrow field_70254_i #inGround
public net.minecraft.entity.projectile.EntityArrow field_70252_j #ticksInGround
public net.minecraft.entity.projectile.EntityArrow field_70257_an #ticksInAir
public net.minecraft.entity.projectile.EntityArrow field_70255_ao #damage
public net.minecraft.entity.projectile.EntityArrow field_70256_ap #knockbackStrength
public net.minecraft.world.WorldProvider field_76579_a #world
public net.minecraft.client.renderer.entity.RenderManager field_78725_b #renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78726_c #renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78723_d #renderPosZ
public net.minecraft.entity.monster.EntityCreeper field_184714_b #POWERED
protected net.minecraft.tileentity.TileEntityFurnace field_145956_a #furnaceBurnTime
protected net.minecraft.tileentity.TileEntityFurnace field_145957_n #furnaceItemStacks
protected net.minecraft.tileentity.TileEntityFurnace field_145963_i #currentItemBurnTime
protected net.minecraft.tileentity.TileEntityFurnace field_174906_k #cookTime
protected net.minecraft.tileentity.TileEntityFurnace field_174905_l #totalCookTime
public net.minecraft.network.NetHandlerPlayServer field_147365_f #floatingTickCount

# Methods
protected net.minecraft.entity.monster.EntityCreeper func_146077_cc()V #explode
protected net.minecraft.entity.monster.EntityCreeper func_190741_do()V #spawnLingeringCloud
protected net.minecraft.tileentity.TileEntityFurnace func_145948_k()Z #canSmelt
public net.minecraft.tileentity.MobSpawnerBaseLogic func_190895_g()Lnet/minecraft/util/ResourceLocation; #getEntityId
public net.minecraft.entity.Entity func_180432_n(Lnet/minecraft/entity/Entity;)V #copyDataFromOld